<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    img{
      border: 2px black solid;
      margin: 10px;
    }
  </style>
</head>
<body style="background-color: darkolivegreen;">
<div style="border: black 4px solid; background-color: darkolivegreen; justify-content: center; text-align: center;">

  <img src="{{url_for('static',filename='images/img.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/francesco-liotti-nORaT-h5riI-unsplash.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/j.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/a.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/p.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/francesco-liotti-nORaT-h5riI-unsplash.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/j.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/a.jpg')}}" alt="" height="400px" width="400px">
  <img src="{{url_for('static',filename='images/p.jpg')}}" alt="" height="400px" width="400px"> </div>
  <script src="static\js\demo.js"></script>
</body>
</html>