<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="{{url_for('static',filename='images/img.jpg')}} " sizes="16*16">
</head>
<body>
<fieldset style="background-color: lightgreen; height: 100vh;">
<legend style="text-align: center; background-color: red;">HOME_PAGE</legend>

<div style="border: 2px black solid; justify-content: center; margin-left: 30vw; margin-right: 30vw;height: 50vh; margin-top: 30vh; text-align: center;">

<label for="n">NAME :</label> <input type="text" id="n"> <br> &nbsp; 
<label for="p">PASSWORD :</label> <input type="password" id="p"> <br>
<label for="D">DATE OF BIRTH :</label> <input type="date" id="D"> <br>

</div>












</fieldset>


</body>
</html>